@charset "UTF-8";

.welcome{
	text-align: center;
	font-size: 60px;
	/* animation */
	letter-spacing: 0.1em;
	word-break : break-all;
}
.welcome span{
	display: none;
}

.center{
	max-width: 600px;
	border-color: black;
	background-color: lightblue;
	margin: auto;
	display: none;
}


/*divide lr
display:grid;
grid-template-columns : 1fr 1fr;

.left{
		grid-column: 1/2;
	}
	.right{
		grid-column: 2/3;
	}*/

.Fade1{
	font-size: 16px;
	letter-spacing: 0.2em;
	word-break : break-all;
}

.Fade1 span{
	display: none;
}

.Fade2{
	display: none;
}
